.Paper {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 94%;
}

.Button {
    height: 120px;
}

.gameBox {
    height: 410px;
    position: relative;
}

.startGame {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    margin-left: 25%;
    margin-top: 30%;
}