.Outline {
    margin: auto;
    width: 80%;
    height: 100%;
    background-image: url(../../Assets/Images/WoodTheme.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}